/* 設置網頁主體樣式 */
body {
    background-color: #FEE5D8;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 0;
    width: 0;
}
/* 中間的板板 */
#content {
    /* 讓板板浮到畫布上 */
    position: fixed;
    top:20%;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    /* 陰影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

/* 設置網頁標題樣式 */
h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    color: #FF7171;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
    color: #6D4C41;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 幼圆;
}

.text1{
    position:fixed;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: #6D4C41;
    margin-left: 520px;
    margin-right: 100px;
    margin-top: 460px;
    text-shadow: 0px 0px 6px #ff595e;
}
.text2{
    position:fixed;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: #6D4C41;
    margin-left: 440px;
    margin-right: 100px;
    margin-top: 498px;
    text-shadow: 0px 0px 6px #ff595e;
}
.text3{
    position:fixed;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: #6D4C41;
    margin-left: 520px;
    margin-right: 100px;
    margin-top: 536px;
    text-shadow: 0px 0px 6px #ff595e;
}
.text4{
    position:fixed;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: #6D4C41;
    margin-left: 415px;
    margin-right: 100px;
    margin-top: 574px;
    text-shadow: 0px 0px 6px #ff595e;
}
.text5{
    position:fixed;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: #6D4C41;
    margin-left: 565px;
    margin-right: 100px;
    margin-top: 612px;
    text-shadow: 0px 0px 6px #ff595e;
}

/*讓圖片漂浮在球上*/
img {
    position: fixed;
    top: 15px;
    left: 33%;
    width: 470px;
    height: 110px;
}

/* 再次嘗試的按鈕 */
a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF7171;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    width: 200px;
}
/* 當滑鼠到按鈕時，變色 */
a:hover {
    background-color: #FFB6B6;
}

/* loader的樣式 */
.loader {
    /*固定位置*/
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 2rem;
    font-family: monospace;
    color: #FF7171;
    /* loader's 影子 */
    text-shadow: 0px 0px 8px #FF7171;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* loader的動畫 */
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #FF7171;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 1.5s steps(20, end), blink-caret .5s step-end infinite;
}

/* 關鍵影格 keyframe */
/* 不可單獨使用數字，一定要加入'%' */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* 打字棍棍 */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FF7171 }
}

/* 正方形 */
/* 網頁右下角轉圈圈的東東*/
.spinner {
    margin: auto;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 22px;
    right: 2%;

}
/* 讓正方形變圓型：改其中一邊的顏色，轉的時候就會有中間的線在轉的錯覺 */
.spinner-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 30%; 可愛的方形 */
    border-radius: 50%; 
    border: 8px solid #ffbcbc;
    border-top-color: #ff595e;
    /* 動畫的速度 */
    animation: spin 1s ease-in-out infinite;
}
/* 動畫：轉360度 */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
